body {
    margin:0;
    overflow-x: hidden;
    font-family: Arial;
    color: white;
    background-color: #1E1E1E
}

.go-up {
   display: inline-block; 
   padding: 10px;
   font-size: 30px;
   color: white;
   cursor: pointer;
   background-color: transparent;
   position: fixed;
   bottom: 20px;
   right: 20px;
}

.accordeon-color {
    background: black;
    background-color: black;
    color: black;
}

.accordeon-darkMode {
    background-color: #212529 !important;
}

.accordeon-component-darkMode {
    background-color: #212529 !important;
    color: white;
}
